<?xml version="1.0" encoding="utf-8" ?>
<phpunit colors="true" bootstrap="./vendor/autoload.php">
    <testsuites>
        <!--<testsuite name="Ssh Test">
            <directory>src/Ssh/tests</directory>
        </testsuite>
		<testsuite name="Ldap Test">
            <directory>src/Ldap/tests</directory>
        </testsuite>
		<testsuite name="Expression test">
            <directory>src/Util/Expression/tests</directory>
        </testsuite>
		<testsuite name="Orm test">
            <directory>src/Orm/tests</directory>
        </testsuite>
		<testsuite name="Sql test">
			<directory>src/Orm/Sql/tests</directory>
		</testsuite>-->
		<testsuite name="Rss test">
			<directory>src/Rss/tests</directory>
		</testsuite>
    </testsuites>
</phpunit>
